* {     margin: 0;     padding: 0; }


.nom{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font: weight 900;
    margin-left: 50px;
    
}


.menu{
    width:100%;
    height:66px;
    background:#eceff1;
    line-height: 66px;
   
}




.link{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    padding: 0;
    margin: 0 10px;
    transition: 0.5s ease-in-out;
    border-bottom: 3px solid transparent ;
   

}

.link:hover{
    border-color: black;
    padding-bottom: 5px;
}
.link i{
    margin-right: 5px ;
}
.titre{
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
    margin:0;
    margin-left:50vw;
    padding-top: 150px;


  
}
.titre2{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin:0;
    margin-left:50vw;
   
    
}
.banniere{
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    
}



@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
 *, *:before, *:after {
	 box-sizing: border-box;
}
 html {
	 font-size: 18px;
}
 body {
     font-family: 'Nerko One', cursive;
	 font-size: 1.2em;
	 line-height: 1.6;
	 background: #ccc;
	 overflow-x: hidden;
    background-image: url("https://cdn.discordapp.com/attachments/517778056065318912/781827373767065620/photo-1490818387583-1baba5e638af.png");    
}
 label .menu {
	 position: absolute;
	 right: -100px;
     top: -100px;
	 z-index: 100;
	 width: 200px;
	 height: 190px;
	 background: rgba(255, 255, 255, 0) ;
	 background-color: white;
	 border-radius: 50% 50% 50% 50%;
	 transition: 0.5s ease-in-out;
	 box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
	 cursor: pointer;
}
 label .hamburger {
	 position: absolute;
	 top: 135px;
	 left: 50px;
	 width: 30px;
	 height: 2px;
	 background: #000;
	 display: block;
	 transform-origin: center;
	 transition: 0.5s ease-in-out;
}
 label .hamburger:after, label .hamburger:before {
	 transition: 0.5s ease-in-out;
	 content: "";
	 position: absolute;
	 display: block;
	 width: 100%;
	 height: 100%;
	 background: #000;
}
 label .hamburger:before {
	 top: -10px;
}
 label .hamburger:after {
	 bottom: -10px;
}
 label input {
	 display: none;
}
 label input:checked + .menu {
	 box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
	 border-radius: 0;
}
 label input:checked + .menu .hamburger {
	 transform: rotate(45deg);
}
 label input:checked + .menu .hamburger:after {
	 transform: rotate(90deg);
	 bottom: 0;
}
 label input:checked + .menu .hamburger:before {
	 transform: rotate(90deg);
	 top: 0;
}
 label input:checked + .menu + ul {
	 display:block;
}
 label ul {
    list-style:none;
	 z-index: 200;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 display:none;
	 transition: 0.25s 0s ease-in-out;
}
 label a {
	 margin-bottom: 1em;
	 display: block;
	 color: #000;
	 text-decoration: none;
}
 nav h1 {
	 
	 width: 80%;
	 
}

#login{
	background-color:rgb(249, 247, 240);
}

#login .div-connexion {
	
	width: 950px;
	height: 530px;
	background-color:rgb(249, 247, 240);
	color: black;
	top: 50%;
	left: 50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	font-family:'Nunito', sans-serif ;
	padding: 70px 30px;
	border-radius:15px;
	padding-left: 80px ;
	background-image: url("");

	
}

#login .text{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 200px;
	top: 30%;
	font-size: 35px;
	font-family:'Nunito', sans-serif ;
	font-weight:bold;
	
}

#login .text2{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 200px;
	top: 48%;
	font-size: 25px;
	font-family:'Nunito', sans-serif ;
}

#login h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	width: 30%;
}

#login .div-connexion p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#login .div-connexion input{
	width: 30%;
	margin-bottom: 20px;
}

#login .div-connexion input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid black ;
	background: transparent;
	outline: none;
	height: 40px;
	color:black;
	font-size: 16px;
}

#login .div-connexion input[type="submit"]{
	border: none;
	outline:none;
	height:40px;
	background: #b7eaf3;
	color: black;
	font-size: 18px;
	border-radius:20px;
	
}

#login .div-connexion input[type="submit"]:hover{
	cursor: pointer;
	background: #ffffff; ;
	color: #000;
	border:solid black 1px;
}
#login .div-connexion a{
	text-decoration: none ;
	font-size: 12px;
	line-height: 20px;
	color: rgb(196, 231, 245);
}

#login .div-connexion a:hover{
	color: #ffffff;

}

#login .div-connexion button[type="submit"]{
	border: none;
	outline:none;
	height:40px;
	background: #b7eaf3;
	color: black;
	font-size: 18px;
	border-radius:20px;
	width: 30%;
	margin-bottom: 20px;
}

#login .div-connexion button[type="submit"]:hover{
	cursor: pointer;
	background: #ffffff; ;
	color: #000;
	border:solid black 1px;
}

#login .div-connexion .video{
	width: 500px;
	margin-top: -730px;
	margin-left: 310px;
	
}

#connexion{
	margin:0;
	padding:0;
	font-family:'Nunito', sans-serif ;
	height:100vh;
	overflow: hidden;
	background-image: url("https://cdn.dribbble.com/users/1722719/screenshots/11589060/media/e2cdc6e0be3656476595842d9981d615.jpg?compress=1&resize=1000x750");
	background-size:contain;
}
@keyframes apparitionlog{
	from{
		top:150%;	
	}
	to{
		top:50%;
	}
}
#connexion .center{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:400px;
	background:rgb(249, 247, 240);
	border-radius:10px;
	animation: 2s apparitionlog;
	
	
}


#connexion .center h1{
	text-align: center;
	padding:0 0 20px 0;
	border-bottom:1px solid silver;
	
}


#connexion .center form{
	padding:0 40px;
	box-sizing: border-box;
}

#connexion form .txt_field{
	position:relative;
	border-bottom:2px solid #adadad;
	margin: 30px 0;
}

#connexion .txt_field input{
	width:100%;
	padding:0 5px;
	height:40px;
	font-size:16px;
	border:none;
	background:none;
	outline:none;
}

#connexion .txt_field label{
	position:absolute;
	top:50%;
	left:5px;
	color:#adadad;
	transform:translateY(-50%);
	font-size:16px;
	pointer-events:none;
	transition:.5s;
}

#connexion .txt_field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left:0;
	width:0%;
	height:2px;
	background: #2691d9;
	transition: .5s;
}

#connexion .txt_field input:focus ~label,
#connexion .txt_field input:valid ~label{
	top:-5px;
	color:#2691d9;
}

#connexion .txt_field input:focus ~span::before,
#connexion .txt_field input:valid ~span::before{
	width:100%;
}

#connexion input[type="submit"]{
	width:100%;
	height:50px;
	border:1px solid;
	background:#2691d9;
	border-radius:25px;
	font-size:18px;
	color:#e9f4fb;
	font-weight:700;
	cursor:pointer;
	outline:none;
	margin-bottom: 15px;
	font-family:'Nunito', sans-serif ;

}

#connexion input[type="submit"]:hover{
	border-color:#2691d9;
	transition: .5s;

}

#conversions{
	font-family:'Nunito', sans-serif ;
	overflow: hidden;
	height: 110vh;
	background-image: url("https://static3.rokna.net/thumbnail/kzw3RkMADHA0/4AWGqs3C3zj1VoMP2nMyyYaJhBmE6YiWGA6feRzhrZxvCV8YrxcqZ6-1-4nX83BW/%DA%AF%D8%B1%D8%B3%D9%86%D9%87+%2F+%D8%B1%DA%98%DB%8C%D9%85%2F+%D9%81%D8%B3%D8%AA+%D9%81%D9%88%D8%AF+%2F+%D8%B3%D8%A7%D9%84%D8%A7%D8%AF+%2F+%DA%AF%D8%B1%D8%B3%D9%86%DA%AF%DB%8C.jpg");
	background-size: cover;
}

#conversions h1{
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 30px;
	background-color: transparent;
	border: 2px solid black;
	color:black;
	font-size: 60px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#conversions .conteneur{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 100px;
}

#conversions .conteneur .volume{
	display: flex;
  	flex-direction: column;
  	width: 250px;
  	margin: 40px;
  	height: 400px;
  	border-radius: 10px;
  	box-shadow: 2px 2px 5px black;
  	padding: 10px;
	background-color: rgb(249, 247, 240);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
}

#conversions .conteneur .masse{
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 40px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	padding: 10px;
	background-color: rgb(249, 247, 240);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
}

#conversions .conteneur .personne{
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 40px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	padding: 10px;
	background-color: rgb(249, 247, 240);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
}

#conversions .conteneur .unite-volume{
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 40px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	padding: 10px;
	background-color: rgb(249, 247, 240);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
}

#conversions .conteneur .unite-masse{
	display: flex;
	flex-direction: column;
	width: 250px;
	margin: 40px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
	padding: 10px;
	background-color: rgb(249, 247, 240);
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid black;
}

#conversions .conteneur p{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
#conversions .conteneur input{
	text-align: center;
	margin-bottom: 10px;
}
#conversions .conteneur select{
	text-align: center;
	margin-bottom: 10px;
}
#conversions .conteneur .fa-arrow-right{
	text-align: center;
	margin-bottom: 10px;
}
#conversions .conteneur .fa-divide{
	text-align: center;
	margin-bottom: 10px;
}
#conversions .fa-balance-scale{
	margin-top: 10px;
	text-align: center;
}
#conversions .fa-utensils{
	margin-top: 10px;
	text-align: center;
}
#conversions .fa-child{
	margin-top: 10px;
	text-align: center;
}
#conversions .fa-tint{
	margin-top: 10px;
	text-align: center;
}
#conversions .fa-drumstick-bite{
	margin-top: 10px;
	text-align: center;
}
#conversions .conteneur > div:hover {
	transform: scale(1.05);
	transition: 0.5s;
	border: 1px solid black;
	box-shadow: none;
}
#conversions .conteneur > div p:last-child {
	margin-top: auto;
	margin-bottom: 15px;
}

#suivi{
	background: rgb(249, 247, 240);
	border-radius: 30px;
	margin: 5% auto ;
	margin-left: 10% !important;
	margin-right: 10% !important;
	
	
}

#suivi .ajout {
	margin: 2% auto;
	text-align: center;
}
#suivi button {
	border: none;
    outline: none;
    height: 40px;
    background: rgb(196, 231, 245);
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: auto;
	margin-bottom: 2%;
	cursor: pointer;
	padding-right: 2%;
	padding-left: 2%;
}	

#suivi .activites {
	margin: 2% auto ; 
	text-align: center;
}

table {
	background: white;
	margin: 2% auto;
	margin-top: 1%;
	border-spacing: 0px;
	border-radius: 20px;
	
}
table tr:first-child td{
    font-size: 18px;
    color: black;
    line-height: 1.4;
	background-color: rgb(196, 231, 245);
	padding-top: 10px;
	padding-bottom: 10px;
}

td {
	padding-left: 10px;
	}

#asport {
	background: rgb(249, 247, 240);
	border-radius: 30px;
	margin: 2% auto;
	text-align: center;
	margin-left: 30% !important;
	margin-right: 30% !important;
}

#arepas {
	background: rgb(249, 247, 240);
	border-radius: 30px;
	margin: 2% auto;
	text-align: center;
	margin-left: 30% !important;
	margin-right: 30% !important;
}


#asport button {
	border: none;
    outline: none;
    height: 40px;
    background: rgb(196, 231, 245);
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: auto;
	margin-bottom: 2%;
	cursor: pointer;
	padding-right: 2%;
	padding-left: 2%;
}	


#arepas button {
	border: none;
    outline: none;
    height: 40px;
    background: rgb(196, 231, 245);
    color: black;
    font-size: 18px;
    border-radius: 20px;
    width: auto;
	margin-bottom: 2%;
	cursor: pointer;
	padding-right: 2%;
	padding-left: 2%;
}	