* {     margin: 0;     padding: 0; }

.nom{
    font-size: medium;
    font-family: 'Nunito', sans-serif;
}
.titre{
    
}
.banniere{
    
    border: solid black;
    background: linear-gradient( rgba(247, 223, 223, 0.856), #fc7c87);
    width:90%;
    margin: auto;
    margin-top: 10px;
    height: 650px;
    
}

